.footer {
  background-color: #222;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 160px;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.footer__column {
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
}
.footer__column h4 {
  font-size: 20px;
  margin: 2px;
}

.footer__column ul {
  list-style: none;
}

.footer__column ul li {
  list-style: none;
  font-weight: 200;
  font-size: 14px;
  padding: 6px;
  margin: 2px;
}
