button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #212121;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

button:hover {
  background: #414141;
}
