.invalid-feedback {
  display: block !important;
  color: red;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col-sm-12 {
  font-family: Gotham Narrow SSm A, Gotham Narrow SSm B, Rubik, Lato,
    Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
  height: 100%;
  width: 25rem;
  margin: 40px;
  background: rgb(238, 237, 237);
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  margin-left: 43px;
  height: 100px;
  max-width: 100%;
  resize: none;
}

.btn {
  width: 75%;
  padding: 10px;
  font-size: 18px;
  background: #212121;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}
